.glasses{
	width: 180px;
}

.band,
.band-left:before,
.band-right:before{
	position: relative;
	display: block;
	height: 10px;
	width: 17px;
	background: #222;
	border-radius: 3px;
	box-shadow: 0 1px 5px 0px #222;
}

@mixin band($out-top, $in-top, $left, $deg) {
	top: $out-top;
    left: $left;
    transform: rotate($deg);

    &:before {
        content: "";
        display: block;
        top: $in-top;
        background: #333;
    }
}


.band-left{
	@include band(96px, 10px, -5px, -5deg);
}

.band-right{
	@include band(89px, 10px, 168px, 5deg);
}


.glass{
	float: left;
    width: 85px;
    height: 85px;
    margin: 40px 0 0 10px;
    border-radius: 110px;
    background: linear-gradient(#989697, #696371);
    box-shadow: inset 0 -2px 2px #5d4b3d,
            inset -1px 1px 3px 1px #fff,
            1px 5px 7px -1px #c48e00;

    &:before {
        content: "";
        display: block;
        width: 65px;
        height: 65px;
        position: relative;
        top: 10px;
        left: 10px;
        background: #fcda6d;
        border-radius: 70px;
        box-shadow: inset 0 2px 4px 1px #5d4b3d;
    }
    &:after {
        content: "";
        display: block;
        width: 63px;
        height: 50px;
        position: relative;
        top: -73px;
        left: 11px;
        border-radius: 70px;
        background: #FFF; /* Old browsers */
        background: -webkit-gradient(linear,left bottom,right top,color-stop(0.54, #FFF), color-stop(0.91, #AAA));
        background: -webkit-linear-gradient(left bottom,right top, #FFF 54%,#AAA 91%);
        background: -moz-linear-gradient(left bottom,right top, #FFF 54%,#AAA 91%);
        background: -ms-linear-gradient(left bottom,right top, #FFF 54%,#AAA 91%);
        background: -o-linear-gradient(left bottom,right top, #FFF 54%,#AAA 91%);
        background: linear-gradient(to left bottom, #FFF 53%,#AAA 91%);
    }
    &:last-child {
        margin-left: -9px;
    }
}

.iris {
    width: 23px;
    height: 23px;
    position: relative;
    top: -30px;
    border: 1px solid #222;
    border-radius: 50%;
    background: #000;
    box-shadow: inset -2px -2px 5px 2px #222,
              inset 2px 2px 1px 2px #7e4d49;
    background: -webkit-radial-gradient(center, ellipse cover, #000 25%, #6f4a2d 34%, #c79067 44%, #6f4a2d 50%);
    background: -moz-radial-gradient(center, ellipse cover, #000 25%, #6f4a2d 34%, #c79067 44%, #6f4a2d 50%);
    z-index: 10;

    // 绘制眼球反光
    &:before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        position: relative;
        top: 4px;
        left: 4px;
        background: #FFF;
        border-radius: 50%;
        box-shadow: 0 0 5px 2px #FFF;
        z-index: 11;
    }
}


.iris-left {
    left: 38px; // 调整眼球距离
}

.iris-right {
    left: 23px; // 调整眼球距离
}

